:root {
  --light: #f1f1f1;
  --dark: #242424;
  --accent: #bada55;
}

/* Resets */
* {
  margin: 0;
}

/* Elements */
main {
  display: grid;
  gap: 2rem;
  padding: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  accent-color: var(--accent);
}
ul {
  padding: 1rem;
}
button {
  font: inherit;

  &:hover {
    cursor: pointer;
  }
}
h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
a:visited {
  color: unset;
}

/* Attributes */
[x-cloak] {
  display: none !important;
}

/* Utilitities */
.grid {
  display: grid;
  gap: 1.5rem;
}
.flex {
  display: flex;
  justify-content: space-between;
  gap: var(--gap, 1rem);
}
.flow > * + * {
  margin-block-start: 1.5rem;
}
.dark {
  background-color: var(--dark);
  color: var(--light);
}

/* .Spinner */
.spinner {
  border: 0.5rem solid var(--light);
  border-top: 0.5rem solid var(--accent);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

/* Components */
.accordion {
  max-width: 48em;
  padding: 1rem;
  background-color: var(--light);
  color: var(--dark);

  & > * + * {
    margin-block-start: 1rem;
  }

  & button {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1ch;
    padding: 0;
    background: none;
    border: none;
    text-align: initial;
  }
}

.todos {
  max-width: 20rem;
  padding: 2rem;
  background-color: var(--dark);
  color: white;
  border: 1px solid lightgray;

  & :is(button, [type='checkbox']) {
    cursor: pointer;
  }

  & form {
    display: grid;
    grid-template-columns: 1fr 4ch;

    & > * {
      padding: 0.5rem;
    }
  }

  & .list {
    display: grid;
    grid-template-columns: 4ch 1fr 4ch;
    & > * {
      padding: 0.5rem;
    }
  }

  & .completed {
    text-decoration: line-through;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}